.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.home_container h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.home_container h1 span {
    color: #ff00ff;
    padding: 0.2em;
    background-color: #222;
}
.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}
.home_container img {
    margin: 2em;
    width: 350px;   
}

.logo-magenta {
    
    width: 200px; 
    height: auto;
    filter: invert(47%) sepia(91%) saturate(3000%) hue-rotate(275deg) brightness(105%) contrast(110%);
}